.titleRowBackground {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.titleBackground {
    vertical-align: middle;
    color: #912edc;
}

.titleBackgroundDisabled {
    vertical-align: middle;
    color: #c2c2c2;
}

.subTitleBackground {
    border-top: 1px solid #e9e9e9;
    background-color: #f3f3f3;
    color: #c2c2c2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtitleText {
    vertical-align: middle;
}

.subtitleTextDescription {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.allMissionsBodyContainer {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

.allMissionsBackground {
    margin: 10px;
}

.contentTextBackground {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expandedMissionBackground{
    z-index: 5;
    background-color: white;
    height: 500px;
    width: 100%;
    padding: 10px;
    overflow: auto;
}