.myAppBarBackground {
  background: white !important;
}

.titleText1{
  color: #1E53AB;
  padding-right: 5px;
}

.titleText2{
  color: #6A6A6A;
  padding-right: 5px;
}

.titleText3{
  color: #A358DC;
}

.toolBar{
  justify-content: center;
}