.backgroundImage {
  height: 100%;
  width: 100%;
}

.pageTitleRow{
  padding-top: 20px;
  margin-right: 20px;
}

.pageTitle{
  font-size: 20px;
  color: #673AB7;
}

.artCardsRow {
  padding-left: 120px;
  padding-right: 120px;
}

.masonryStyle{
  margin: 0 auto;
}


